.DS_Store
*.swp
*.swo
*~
/.git-sync-private.yaml
/external
/context-db/general-coding-standards
/context-db/writing-standards
/context-db/using-bruha
/context-db/agent-behavior
/context-db/git-sync-project/overview.md
/context-db/using-context-db

# Added by git-sync
/external/git-standards

# Added by git-sync
/external/bruha
node_modules/
.claude
